.partners {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 4rem;
  // width: 85%;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  padding-left: 5rem;
  .hero_head {
    font-size: 3.2rem;
    margin-bottom: 10px;

    span {
      color: #1a73e8;
    }
  }

  .hero_content {
    color: #666666;
    margin: 1rem 0;

    &:nth-child(odd) {
      margin-bottom: 2rem;
    }

    span {
      color: blue;
    }
  }

  .partners_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .partner_img {
    height: 7.4rem;
    margin-right: 3rem;
    margin-top: 2rem;
  }
  .partner_img_big {
    height: 5.4rem;
    margin-right: 3rem;
    margin-top: 2rem;
  }
}
