$primary-blue: #1a73e8;
$blue-dark: #185abc;
$green-normal: #34a853;
$salmon-normal: #e94335;
$yellow-normal: #ffca28;
$cyan-normal: #00bcd4;
$purple-normal: #4c4a78;

$white-1: #ffffff;
$white-2: #f9f9f9;
$grey-1: #0000001e;
$grey-2: #0000001f;
$grey-3: #00000029;
$grey-4: #e0e0e0;
